body{
 background-color: azure; 
   
}
.mititulo{
    font-family: 'Lobster', cursive;
    text-shadow:2px 2px 8px blue;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
form{
    text-align: center;
 
}
.comprobar{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        
}
.pregunta{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    background-color:#62727b;
    height: auto;
    width: auto;
    padding:15px;
    margin: 2%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
input{
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top:10px;
    
}
p{
    display: flex;
}
.respuestaRoja{
    color: red;
}
.respuestaVerde{
    color: green;
}

.off{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.puntuacionVerde{
    border: 1px solid #999999;
    background-color: green;
    color: white;
    text-align: center;
    padding: 2%;
margin: 0.2%;
}

.puntuacionRoja{
    border: 1px solid #999999;
    background-color: red;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 1.5px #888888;
    text-align: center;
    padding: 1%;
    margin: 0.2%;
}
.explicacion{
    border: 1px solid #999999;
    background-color: #039be5;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 1.5px #888888;
    text-align: center;
    padding: 1%;
    margin: 1%;
}
